{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}
{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2><b>Lista de Pacientes</b></h2>
                <button type="button" class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#cadmodal">Cadastrar Paciente</button>
                <a class="btn btn-primary" href="/cadastrar_medicamentos">Cadastrar Horários</a>
                <a class="btn btn-primary" href="/logout">Sair</a>
                <table class="table table-hover table-dark">
                    <tr>
                        <th>Nome</th>
                        <th>Data de Nascimento</th>
                        <th>Observação</th>
                        <th>Ação</th>
                    </tr>
                    {% for row in patients %}
                    <tr>
                        <td>{{row.name}}</td>
                        <td>{{row.birth_date.strftime('%d/%m/%Y')}}</td>
                        <td>{{row.observation}}</td>
                        <td>
                            <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-bs-toggle="modal" data-bs-target="#editmodal{{row.id}}">Editar</a>
                            <div id="editmodal{{row.id}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Editar Paciente</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{url_for('update_patient')}}" method="POST">
                                                <div class="form-group">
                                                    <input type="hidden" name="id" value="{{row.id}}">
                                                    <label>Nome:</label>
                                                    <input type="text" class="form-control" value="{{row.name}}" name="name_edit" required="1">
                                                </div>
                                                <div class="form-group">
                                                    <label>Data de Nascimento:</label>
                                                    <input type="date" class="form-control" name="birth_date_edit" value="{{row.birth_date.strftime('%Y-%m-%d')}}" required="1">
                                                </div>
                                                <div class="form-group">
                                                    <label>Observação:</label>
                                                    <textarea class="form-control" name="observation_edit" required="1">{{row.observation}}</textarea>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-primary" type="submit">Editar</button>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secundary" data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Deseja efetuar exclusão?')">Excluir</a>
                            <a href="/perfil_paciente/{{row.id}}" class="btn btn-warning btn-xs">Perfil</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="cadmodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Adicionar Paciente</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('add_patient')}}" method="post">
                                <div class="form-group">
                                    <input type="hidden" name="user_id" value="1">
                                    <label>Nome:</label>
                                    <input type="text" class="form-control" name="name" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Data de Nascimento:</label>
                                    <input type="date" class="form-control" name="birth_date" required="1">
                                </div>
                                <div class="form-group">
                                    <label>CPF:</label>
                                    <input type="text" class="form-control" name="cpf" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Observação:</label>
                                    <textarea class="form-control" name="observation" required="1"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Adicionar</button>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secundary"  data-bs-dismiss="modal">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}